<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
</head>
<body>

    <h1>{{ item.name }}</h1>

    <p>{{ item.description }}</p>

    <p>
        <strong>Price:</strong>
        {{ item.price }} $
    </p>

    <button id="buy-button">Buy</button>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        const stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
        const buyButton = document.getElementById("buy-button");
        buyButton.addEventListener("click", async () => {
            const response = await fetch("/payments/buy/{{ item.id }}/");
            const data = await response.json();
            const result = await stripe.redirectToCheckout({
                sessionId: data.session_id
            });
            if (result.error) {
                alert(result.error.message);
            }
        });
    </script>

</body>
</html>
